/* app css stylesheet */


#movie-details{
  float: left;
  width: 60%;
}

#movie-image img{
  float: right;
  width: 35%;
  height: 70%;
}

#movie-details-wrapper{
  width: 90%;
  margin: 5%;
  position: absolute;
  padding: 3%;
  border: 2px solid lightgray;

}

#add-review-btn, #rate-btn
{
  margin: 2%;
  float: right;
}

footer{
  padding-top: 20px;
  text-align: center;
  position: relative;
}
