<div>
    <form class="form-horizontal">
        <fieldset>
            <legend>Form</legend>
            <div class="form-group">
                <label for="inputTitle" class="col-lg-2 control-label">Title</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Year</label>
                <div class="col-lg-10">
                    <select class="form-control" id="select">
                    <option selected="selected"></option>
                    
                    </select>
                  </div>
            </div>
            <div class="form-group">
                <label for="inputGenre" class="col-lg-2 control-label">Genre</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputGenre" placeholder="Genre">
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Synopsis</label>

                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDirector" class="col-lg-2 control-label">Director</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputDirector" placeholder="Director">
                </div>
            </div>
            <div class="form-group">
                <label for="inputWriter" class="col-lg-2 control-label">Writer</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputWriter" placeholder="Writer">
                </div>
            </div>
            <div class="form-group">
                <label for="inputStars" class="col-lg-2 control-label">Cast</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputStars" placeholder="Cast (separate with commas)">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
    var select = document.getElementById('select'),
        content = '',
        currentYear = new Date().getFullYear();

    for (var i = currentYear; i >= 1890 ; i--) {
       content = '<option>'+ i +'</option>'; 
       select.innerHTML += content;
    }
</script>