<script id="movie-details-form" type="text/x-handlebars-template">
    <div id="movie-details-wrapper">
            <div id="movie-details">
            <div class="panel panel-default">
            <div class="panel-body">

            <h1>{{this.title}}</h1>

            <h3>({{this.year}})</h3>
            </div>
            </div>

            <div class="panel panel-default">
            <div class="panel-heading">Genre:</div>
    <div class="panel-body">
            {{this.genre}}
            </div>

            <div class="panel panel-default">
            <div class="panel-heading">Director:</div>
    <div class="panel-body">
            {{this.director}}
    </div>
    <div class="panel panel-default">
            <div class="panel-heading">Writers:</div>
    <div class="panel-body">
            Dan O'Bannon (story, screenplay)<br/>
    Ronald Shusett (story)
    </div>
    <div class="panel-heading">Summary:</div>
    <div class="panel-body">
            A commercial crew aboard the deep space towing vessel, Nostromo is on its way home when they
    pick an
    SOS<br/>
    warning from a distant planet. What they don't know is that the SOS warning is not like any
    other
    ordinary<br/> warning call. Picking up the signal, the crew realize that they are not alone on
    the
    spaceship when an alien<br/> stowaway is on the cargo ship.<br/>
    </div>
    </div>
    </div>
    </div>
    <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Rate:</label>

    <div class="col-lg-10">
            <select class="form-control" id="select">
            <option>1 star</option>
    <option>2 stars</option>
    <option>3 stars</option>
    <option>4 stars</option>
    <option>5 stars</option>
    </select>
    </div>
    </div>
    <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Add a review</label>

    <div class="col-lg-10">
            <textarea class="form-control" rows="5" id="textArea"></textarea>
            </div>
            </div>
            </div>
            <div id="movie-image">
            <img src="img/Alien_movie_poster.jpg"/>
            </div>
            </div>
</script>