<script id="movie-table-main-menu" type="text/x-handlebars-template">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Year</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Alien</td>
            <td>1979</td>
            <td>Sci-Fi</td>
            <td><a href="#/moviedetailsaliensample" class="btn btn-default">View Details</a></td>
        </tr>
{{#each this}}
        <tr>
            <td>2</td>
            <td>{{title}}</td>
            <td>{{year}}</td>
            <td>{{genre}}</td>
            <td><a href="#" class="btn btn-default">View Details</a></td>
        </tr>
{{/each}}
        </tbody>
    </table>
    <a href="#/addamovie" class="btn btn-primary">Add Movie</a>
</script>