<script id="movie-table-main-menu" type="text/x-handlebars-template">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
{{#each this}}

        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{year}}</td>
            <td>{{genre}}</td>
            <td>{{rating}}</td>
            <td><a href="#/details/{{id}}" class="btn btn-default">View Details</a></td>
        </tr>
{{/each}}
        </tbody>
    </table>
    <a href="#/addamovie" class="btn btn-primary">Add Movie</a>
</script>