<div role="form" class="container">
    <div class="row">
        <div id="sign-in-form" class="form-group col-md-6">
            <input type="text" id="registered-username-input" class="form-control" placeholder="Username">
            <input type="password" id="registered-password-input" class="form-control" placeholder="Password">
            <button id="btn-sign-in" class="btn btn-primary">Sign in</button>
        </div>
        <div id="sign-up-form" class="form-group col-md-6">
            <input type="text" id="new-username-input" class="form-control" placeholder="Username">
            <input type="password" id="new-password-input" class="form-control" placeholder="Password">
            <input type="text" id="new-mail-input" class="form-control" placeholder="E-mail">
            <button id="btn-sign-up" class="btn btn-primary">Sign up</button>
        </div>
    </div>
</div>