<div id="sign-in-form">
    <input type="text" id="registered-username-input" placeholder="Username">
    <input type="password" id="registered-password-input" placeholder="Password">
    <button id="btn-sign-in">Sign in</button>
</div>
<div id="sign-up-form">
    <input type="text" id="new-username-input" placeholder="Username">
    <input type="password" id="new-password-input" placeholder="Password">
    <input type="text" id="new-mail-input" placeholder="E-mail">
    <button id="btn-sign-up">Sign up</button>
</div>